/* Responsivo */

.logo-top{
    width: 100px;
}


#header{
    text-align: center;
}

#header h1{
    font-family: 'Great Vibes', cursive;
}
#header p{
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
}
#header .header-img-gleice{
   width: 200px;
}

#header .btn-header{
    border: none;
    border: 1px solid orange;
    padding: 13px 60px;
    border-radius: 8px;
    font-weight: bold;
    background-color: orange;
    color: #fff;
}

#header .btn-header:hover{
    background: brown;
    color: #fff;
    border: 1px solid orange;
}

/* sobre */
#sobre{
    text-align: center;
}

#sobre h1{
    font-family: 'Great Vibes', cursive;
    margin-top: 38px;
}
#sobre p{
    font-family:'manrope', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

#sobre .sobre-img-gleice{
    width: 200px;
 }

 #sobre .btn-sobre{
    border: none;
    border: 1px solid orange;
    padding: 13px 60px;
    border-radius: 8px;
    font-weight: bold;
    background-color: orange;
    color: #fff;
}

#sobre .btn-sobre:hover{
    background: brown;
    color: #fff;
    border: 1px solid orange;
}

 /* contato */

 #contato{
    text-align: center;
    background-color: orange;
    border-radius: 40px;
}

#contato h1{
    font-family: 'Great Vibes', cursive;
}
#contato p{
    font-family:'manrope', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 306px;
    padding: 13px 0px;
    border-radius: 8px;
    border: none;
}

.t-area{
    width: 306px;
    border: none;
    border-radius: 8px;
}

#contato .btn-form{
    border: none;
    border: 1px solid black;
    padding: 13px 90px;
    border-radius: 8px;
    font-weight: bold;
    background-color: orange;
    color: #fff;
}

#contato .btn-form:hover{
    background: brown;
    color: #fff;
    border: 1px solid orange;
}

#blog .gleici-blog{
    width: 84%;
}

#blog .cards {
    float: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    
}

#blog h3{
    font-size: 19px;
}


  /* 
  -------------------------------------
  -------------------------------------
  temas
  ------------------------------------
  ------------------------------------
  */

  #culpa {
   
    padding: -14px;
    display: inline;
    /* margin-left: -125px; */
    /* width: 178px; */
}

#culpa .container{
    background: orange;
    display: inline-block;


}
#culpa h1{
    text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}



/* 
-------------------------------------
-------------------------------------
temas
------------------------------------
------------------------------------
*/

#footer{
    text-align: center;
    /* background-color: orange; */
    border-radius: 40px;
}

#footer .footer-logo{
    width: 200px;
}
#footer .redes-sociais{
    width: 80px;
}

/* Desktop */
@media (min-width:768px){

    #menu-navegation {
        position: fixed;
        z-index: 9;
        background: #fff;
        padding: -13px;
        width: 100%;
    }

   .navbar-nav{
    margin-left: 59.6rem;
   }

   #header{
       height: 100vh;
   }

   #header .header-img-gleice {
    width: 687px;
    float: left;
    margin-top: -291px;
    margin-left: 79px;
}
#header h1 {
    font-family: 'Great Vibes', cursive;
    float: right;
    width: 840px;
    margin-top: 244px;
    font-size: 56px;
}
 #header p {
   font-family: 'Great Vibes', cursive;
    float: right;
    width: 840px;
    font-size: 42px;
}

#header .btn-header {
    float: left;
    border: none;
    border: 1px solid orange;
    padding: 13px 60px;
    border-radius: 8px;
    font-weight: bold;
    background-color: orange;
    color: #fff;
    margin-left: 43px;
    font-size: 19px;
}
/* sobre */

#sobre{
    height: 100vh;
}

#sobre h1 {
   font-family: 'Great Vibes', cursive;
    float: left;
    width: 840px;
    margin-left: 271px;
    margin-top: 85px;
    font-size: 46px;
  
    margin-bottom: 69px;
}


#sobre p {
    font-family: candara;
    float: left;
    width: 840px;
    margin-left: 271px;
    font-size: 21px;
    line-height: 64px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
}

#sobre .sobre-img-gleice {
    width: 274px;
    float: left;
    margin-left: -599px;
    margin-top: 142px;
}

#sobre .btn-sobre{
    margin-top: 20px;
    margin-bottom: 20px;
}

#contato {
    height: 150vh;
    margin-top: 237px;
}

/* margin-bottom: 98px */

input[type="text"],
 input[type="tel"],
  input[type="email"] {
    width: 578px;
    padding: 13px 0px;
    border-radius: 8px;
    border: none;
}

.t-area{
    width: 573px;
    border: none;
    border-radius: 8px;
}

#contato .btn-form{
    border: none;
    border: 1px solid black;
    padding: 13px 90px;
    border-radius: 8px;
    font-weight: bold;
    background-color: orange;
    color: #fff;
}

#contato h1{

}

/* blog */

#blog{
    height: 101vh;
}

#blog .gleici-blog{
    width: 453px;
}

#blog .cards {
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-left: 175px;
}

#blog .card-white {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 24px;
    margin: 8px;
    flex-grow: 1;
  }

  /* 
  -------------------------------------
  -------------------------------------
  temas
  ------------------------------------
  ------------------------------------
  */

  #culpa {
   
      padding: 119px;
  }

  #culpa .container {
    background: orange;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 52px;
    width: 1405px;
    margin-bottom: 147px;
}
#culpa h1{
    font-family: 'Great Vibes', cursive;
    font-size: 81px;
}



 /* 
  -------------------------------------
  -------------------------------------
  temas
  ------------------------------------
  ------------------------------------
  */

/* footer */
#footer .redes-sociais {
    width: 37px;
}



  
}